.iconList {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: left;
    margin-top: auto;
    margin-bottom: auto;
}

.iconList img {
    width: auto;
    height: 100%;
    margin-left: 5%;
}