.headerNav {
    display: flex;
    width: 50%;
    height: auto;
}

.headerNav button {
    background-color: transparent;
    border-color: transparent;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
}
.activeButton {
    text-decoration: underline;
    color:blue;
    font-weight: bold;
}